### ==================================================== ###
###       Fichier de configuration de l'application      ###
###                  HAmAC / Conges                      ###	
### ==================================================== ###


# -------------------------------------------------- #
# ---      PARAMETRES CRIWEBAPP / CRIWEBEXT      --- #
# -------------------------------------------------- #

#* Le URL de site Web principale de l'etablissement
MAIN_WEB_SITE_URL=http://www.univ.fr

#* Le URL de l'image "logo" de l'etablissement. Elle est
#* affichee sur la page d'acceuil de l'application et
#* dans la bare de menu
MAIN_LOGO_URL=http://www.univ.fr/image_partagee/Logo.gif

#* L'adresse mail de l'administrateur de l'application. Cette
#* adresse est utilisee pour le lien sur la page d'acceuille
#* "Si vous avez un probleme..."
#* emission des mails de log a cette adresse + mail de debug
APP_ADMIN_MAIL=admin_conges@univ.fr

# L'identifiant de l'application. Il peut etre utilise par differents
# servces : authentification (SAUT), sauvegarde des documents
# (GEDFS),... Le ID ne doit pas depasse 10 symboles et il doit etre
# enregistre aupres de serveur concerne.
# Il n'est pas conseille de modifier cette valeur.
APP_ID=CONGES

#* Description courte de l'application. Le meme ID pouvant etre partage
#* entre plusieurs versions de l'application, cette valeur permet
#* de fournir les informations complementaires
APP_ALIAS=CongesWeb

#* URL de l'application (utilise pour l'envoi de mail)
APP_URL=http://www.univ.fr/cgi-bin/WebObjects/Conges.woa/

#* Le URL de service d'authentification. Il permet de recuperer
#* le dictionnaire de connexion a la base de donnees. Si le service
#* SAUT/ServAut n'est pas disponible dans votre systeme, mettez ce
#* parametre en commentaire et renseigner le dictionnaire de connexion
#* directement dans le fichier CongesWeb.eomodeld/index.eomodeld
SAUT_URL=http://saut.univ.fr/cgi-bin/WebObjects/ServAut.woa/wa/

#* Le dictionnaire de translation des identifiants des dictionnaires
#* de connexion a la base de donnees. Voir la configuration de
#* serveur SAUT/ServAut, s'il est disponible.
#* Si SAUT_URL n'est pas renseigne, alors cette valeur est ignoree.
SAUT_ID_TRANSLATION=CONGES:CONGES,ULOGIN:GRHUM,CONGES_PLANNING:CONGES,CONGES_GRHUM:GRHUM

#* Indique si l'envoi des messages email est disponible dans l'application.
#* Sans ce support, aucun avertissement ne sera envoye suite a la creation
#* d'une demande ou toute autre action.
#* Valeurs autorisees : YES/NO
#* La valeur par defaut est YES
APP_USE_MAIL=YES

#* timezone pour les dates
APP_TIME_ZONE=CEST

#* Gestion des jours feries (classe DateCtrl)
#* Les jours fériés supplémentaires
#* Valeurs autorisees : jj/mm[/yyyy][,jj/mm[/yyyy]]
APP_DATECTRL_ADDITIONAL_HOLIDAY=12/05/2008
#* Les jours fériés a ne pas prendre en compte
#* Valeurs autorisees : jj/mm[/yyyy][,jj/mm[/yyyy][,PAQUES][,ASCENSION][,PENTECOTE]]
APP_DATECTRL_IGNORING_HOLIDAY=


# -------------------------------------------------- #
# ---            PARAMETRES YCRIFWK              --- #
# -------------------------------------------------- #
# ** DEBUG / LOGS :**
# 0 : pas de logs
# 1 : logs mimimuns
# 2 : logs complets
DEBUG_LEVEL=1

#* faut-il envoyer un mail a APP_ADMIN_MAIL des que quelqu'un 
#* se connecte a l'application 
#* Valeurs autorisees : YES/NO
APP_LOG_CONNEXION=NO


# -------------------------------------------------- #
# ---      PARAMETRES SPECIFIQUES A CONGES       --- #
# -------------------------------------------------- #

#* groupe de l'annuaire dont les membres ont les droits 'DRH'
C_STRUCTURE_DRH=XXXXX

#* groupe de l'annuaire dont les membres ont les droits d'administrateur
C_STRUCTURE_ADMIN=YYYYY

#* URL des 'tutoriels animés'
VIEWLET_URL=http://www.univ-lr.fr/actes/ged/courrier/commun/0410201732.0/doc_conges.html

#* URL sur la note concernant le CET
#* cet attribut peut etre multivalue, il suffit de separer les URL par le symbole |
NOTE_CET_URL=http://www.univ-lr.fr/actes/ged/courrier/commun/0601041033.0/cet.pdf

#* URL de la circulaire concernant l'ARTT dans l'etablissement
URL_CIRCU=http://www.univ-lr.fr/actes/ged/courrier/commun/0609050947.0/circulaire_ARTT.pdf

#* URL de la documentation
URL_DOC=http://www.univ-lr.fr/actes/ged/courrier/commun/0609050947.0/Annexes_circulaire_ARTT.pdf

#* Si cette valeur est a YES, les mails sont rediriges 
#* a APP_ADMIN_MAIL plutot qu'aux destinataires reels
#* Valeurs autorisees : YES/NO
DEBUG=YES


# -------------------------------------------------- #
# ---      PARAMETRES CAS  / AUTHENTIFICATION    --- #
# -------------------------------------------------- #

#* CAS est installe sur l'etablissement ?
#* Valeurs autorisees : YES/NO
CAS_USE_CAS=YES

#* CAS est utilise par l'application ?
#* Valeurs autorisees : YES/NO
APP_USE_CAS=NO

#* URL du serveur CAS s'il est installe
CAS_SERVICE_URL=https://www.univ.fr/cas

#* Indique si les mots de passes vides peuvent etre acceptes comme
#* les mots de passes valides si APP_USE_CAS=NO
#* Valeurs autorisees : YES/NO
ACCEPT_EMPTY_PASSWORD=YES


# ---------------------------------------------------- #
# ---   PARAMETRES DE CHANGEMENTS DES DONNEES DE   --- #
# ---     GRHUM PAR DES APPLICATIONS EXTERNES      --- #
# ---------------------------------------------------- #

#* Les modifications de donnees des tables de GRHUM peuvent avoir une
#* une influence sur les donnees de conges (ex: table AFFECTATION). Il
#* existe 2 moyens de notifier changement, via DirectAction (depuis
#* GEPETO) ou via Trigger de la base de données. Cette variable decrit
#* quel mode utiliser. Si aucune n'est specifiee, alors conges ne 
#* verifiera pas la coherence des donnees (problemes a moyen terme...)
#* Valeurs autorisees : DA/TRIGGER
;EXT_NOTIF=DA
EXT_NOTIF=TRIGGER

#* Si la notification se fait par trigger, des scans reguliers de la 
#* table CONGES.DB_TODO sont fait. Les variables suivantes 
#* determine la duree entre chaque verification de changement.
# Table GRHUM.AFFECTATION (en sec)
DELAY_SCAN_AFFECTATION=300

#* Certains établissements n'utilisent pas la table GRHUM.AFFECTATION
#* comme référence. Ce paramètre vient se substituer, pour les entités
#* Affectation et ul_Affectation, respectivement des modèles nommés 
#* Grhum.eomodeld et UserLogin.eomodeld, au table name associé, s'il 
#* est renseigné, et non vide. La valeur par défaut est GRHUM.AFFECTATION. 
#* Attention, cette table doit au moins avoir la même structure que 
#* celles décrites dans ces 2 modèles.
OTHER_TABLE_NAME_AFFECTATION=


# ---------------------------------------------------- #
# ---     PARAMETRES DE SAM (ACTIONS PAR MAIL)     --- #
# ---------------------------------------------------- #

#* L'application peut etre notifiees par des mails qui contiennent des
#* ordres a executer (validation, visa ...). Il s'agit d'un couplage 
#* avec SAM (Server d'Actions par Mail), qui traite les mails entrants
#* et remplit une table de conges (MAIL_TODO).

#* L'application utilise elle le plugin SAM
#* Valeurs autorisees : YES/NO
APP_USE_SAM=NO

#* L'adresse email point d'entree du plugin SAM-conges
#* Valeurs autorisees : xxxxx@yyyyy.zzz
APP_SAM_MAIL=sam-conges@univ.fr

#* La duree entre 2 verifications de recherche de nouvelle actions 
#* par mail (table MAIL_TODO)
# Valeurs autorisees : <nombre> (en sec)
DELAY_SCAN_MAIL_TODO=120
